<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmk.web.join_team.mapper.JoinTeamMapper">
    <select id="getMyTeam" resultType="com.itmk.web.team.entity.Team">
        select t.*,jt.create_time as join_time from join_team as jt
        inner join team as t on jt.team_id = t.id
        where jt.stu_id = #{stuId}
    </select>
</mapper>